[Unit]
Description=Canalhinha service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
WorkingDirectory=/root/canalhinha_discord_bot
ExecStart=/root/.nvm/versions/node/v18.14.2/bin/node /root/canalhinha_discord_bot/index.js

[Install]
WantedBy=multi-user.target
